@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'), url(http://themes.googleusercontent.com/static/fonts/istokweb/v6/2koEo4AKFSvK4B52O_MwanhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(http://themes.googleusercontent.com/static/fonts/lora/v7/5-AYViExptypIdFoLKAxTA.woff) format('woff');
}
